<footer class="footer text-center">
    <div style="margin: auto; text-align: center; font-size: 0.8em; color: grey;">寒窗呵笔寻诗句，一片飞来纸上销</div>
    <div id="bottom-inner">
        <a class="bottom-item" href="<%=theme.index_page%>">主站</a> |
        <a class="bottom-item" href="<%=theme.github%>" target="_blank">GitHub</a> |
        <a class="bottom-item">寒窗呵笔寻诗句，一片飞来纸上销</a>
    </div>
</footer>